.addCompanyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
#longCard{
    margin-top:0vh;
    background-color: #f8f9fa; /* Light background */
    margin-bottom:7vh;
}